<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBMICalculator" />
                <binding name="WSHttpBinding_IHobby" />
                <binding name="WSHttpBinding_INext1000DaysCalculator" />
                <binding name="WSHttpBinding_IYearCalculator" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Ecutbildning.Laboration2Service/LaborationService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBMICalculator"
                contract="IBMICalculator" name="WSHttpBinding_IBMICalculator">
                <identity>
                    <userPrincipalName value="Lennart\NellyHaglund" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/Ecutbildning.Laboration2Service/LaborationService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHobby"
                contract="IHobby" name="WSHttpBinding_IHobby">
                <identity>
                    <userPrincipalName value="Lennart\NellyHaglund" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/Ecutbildning.Laboration2Service/LaborationService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INext1000DaysCalculator"
                contract="INext1000DaysCalculator" name="WSHttpBinding_INext1000DaysCalculator">
                <identity>
                    <userPrincipalName value="Lennart\NellyHaglund" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/Ecutbildning.Laboration2Service/LaborationService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IYearCalculator"
                contract="IYearCalculator" name="WSHttpBinding_IYearCalculator">
                <identity>
                    <userPrincipalName value="Lennart\NellyHaglund" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>