<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDateAsString" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Ecutbildning.DateString/DateAsStringService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDateAsString"
                contract="IDateAsString" name="WSHttpBinding_IDateAsString">
                <identity>
                    <userPrincipalName value="Lennart\NellyHaglund" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>