<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IGender" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/Ecutbildning.SocialSecurityNumber/GenderService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGender"
          contract="IGender" name="WSHttpBinding_IGender">
        <identity>
          <userPrincipalName value="Lennart\NellyHaglund" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>