<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IShipperService" />
        <binding name="BasicHttpBinding_IShipperService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2429/ShipperService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShipperService"
        contract="IShipperService" name="BasicHttpBinding_IShipperService" />
      <endpoint address="http://localhost:2429/ShipperService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShipperService1"
        contract="NwService.IShipperService" name="BasicHttpBinding_IShipperService1" />
    </client>
  </system.serviceModel>
</configuration>